{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = page.title + " | MITRE ATT&CK&reg;" -%}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/resources/">Resources</a></li>
  <li class="breadcrumb-item"><a href="/resources/attack-advisory-council/">ATT&amp;CK Advisory Council</a></li>
  <li class="breadcrumb-item">Meeting Summaries</li>
</ol>

<div class="container pb-3">
  <div class="card-block">
    <div class="clearfix pb-3">
      <div class="clearfix pb-3">
        <h1>{{ page.title }}</h1>
        <p>This page will have published ATT&amp;CK Advisory Council meeting summaries.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}
